doctype html
html
    head
        meta(charset="utf8")
        link(rel="stylesheet" href="style.css")
    body
        .container
            .row
                //- .col
                //-     .preview
                //-         img(src="https://static-cdn.jtvnw.net/previews-ttv/live_user_wayne75525-320x180.jpg")
                //-     .bottom
                //-         .avatar
                //-             img(src="https://static-cdn.jtvnw.net/jtv_user_pictures/fate_twisted_na-profile_image-f51be41c0c37cf65-300x300.jpeg")
                //-         .intro
                //-             .channel_name 頻道
                //-             .owner_name 實況主 
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.min.js")
        script(src="./main.js")
        