doctype html
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="css/style.css")
    body
        .container
            .menu   
                h1.title The Streams in English
                .btn
                    .enBtn(class="selected" data-selectedLang="en") English
                    .twBtn(data-selectedLang="zh-tw") 中文
                    .jpBtn(data-selectedLang="jp") 日本語  
                    
            .row
                //- .col
                //-     .preview
                //-         img(src="https://static-cdn.jtvnw.net/previews-ttv/live_user_wayne75525-320x180.jpg")
                //-     .bottom
                //-         .avatar
                //-             img(src="https://static-cdn.jtvnw.net/jtv_user_pictures/fate_twisted_na-profile_image-f51be41c0c37cf65-300x300.jpeg")
                //-         .intro
                //-             .channel_name 頻道
                //-             .owner_name 實況主 

        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.min.js")
        //- script(src="js/lang-en.js")
        //- script(src="js/lang-zh-tw.js")
        //- script(src="js/lang-jp.js")
        //- script(src="js/main.js")
        script(src="dist/bundle.js")

        